#services{
    flex-direction: column;
}

#home{
        height: 350px;
        padding: 3px 33px;
        margin: auto;
}

#home::before{
    height: 380px;
    /* width: 1170px; */
    margin: auto;
    /* width: 100%; */
}

#home1{
    height: 350px;
    padding: 3px 30px;
}

#home1::before{
height: 480px;
/* width: 470px; */
}

#home2{
    height: 350px;
    padding: 3px 30px;
}

#home2::before{
height: 480px;
/* width: 470px; */
}

#home3{
    height: 350px;
    padding: 3px 30px;
}

#home3::before{
height: 480px;
/* width: 470px; */
}

.head1 h1{
   margin: auto;
}
#home p{
        font-size: 15px;
}

#home1 p{
    font-size: 15px;
}

#home2 p{
    font-size: 15px;
}

.h-primary{
    font-size: 20px;
}

.h-primary1{
    font-size: 20px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}